$background-color: #e9f2f6;
$border-color: #90c0dc;
$type-color: #49a3cc;

$write-background-color: #f6f1e9;
$write-border-color: #dcc190;
$write-type-color: #cca349;

$model-background-color: #f5f5f5;
$model-border-color: #d4d4d4;
$model-type-color: #ababab;